<!DOCTYPE html>
<html>
    <style>
        .bg_div{
             background-size: 100% 100%;
             background-image: url({{url_for('static', filename='images/error_images/403-image.png')}});
             position: absolute;
             top: 0px;
             right: 0px;
             bottom: 0px;
             left: 0px;
        }
        @media only screen and (max-width: 600px) {
            body {
                top: -100px;
            }
        }
    </style>
    <head>
        <title>You should not be here, know it?</title>
    </head>

    <body>
       <div class="bg_div">
       </div>
    <script src="{{url_for('static', filename='scripts/redirect_error.js')}}"></script>
    </body>
</html>