<form action="" method="POST" id="adminpanel">
    <div>Admin panel</div>
    <div class="actions">
        <input type="text" name="nickname" placeholder="nickname">
        <input type="submit" name="type[ban]" value="Ban">
        <input type="submit" name="type[unban]" value="Unban">
        <input type="submit" name="type[delete]" value="Delete">
        <input type="submit" name="type[makeadmin]" value="Make admin">
        <input type="submit" name="type[makemoderator]" value="Make moderator">
        <input type="submit" name="type[makeuser]" value="Make user">
    </div>
</form>