<form action="" method="POST" id="adminpanel">
    <div>Admin panel</div>
    <div class="actions">
        <input type="text" name="nickname" placeholder="nickname">
        <input type="submit" name="action" value="Ban">
        <input type="submit" name="action" value="Unban">
        <input type="submit" name="action" value="Delete">
        <input type="submit" name="action" value="Make admin">
        <input type="submit" name="action" value="Make moderator">
        <input type="submit" name="action" value="Make user">
    </div>
</form>