<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/admin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/admin-mobile.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/nav-mobile.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index-mobile.css')}}"> 
</head>
<body>
    {% include "nav.html" %}

    <main>
        <form id="exitform" method="POST" action=""><input type="hidden" value="exit" name="exit"></form>
        <div class="exit" onclick='document.getElementById("exitform").submit();'>Exit</div>
        <div>
            <div class="user_avatar">
                <img src="{{ url_for('static', filename=avatar) }}" alt="avatar">
            </div>
            <div class="name">
                <div>{{ session['login'] }}</div>
                {% if session['admin'] == 2 %}
                    <div id="admin">ADMIN</div>
                {% elif session['admin'] == 1 %}
                    <div id="moderator">MODERATOR</div>
                {% else %}
                    <div id="user">USER</div>
                {% endif %}
            </div>
        </div>
        {% if session['admin'] == 2 %}
            {% include "adminpanel.html" %}
        {% endif %}
        <div>
            {% include "post.html" %}
        </div>
    </main>
</body>
</html>