<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка поста</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css')}}"> -->
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/index-mobile.css">
    <link rel="stylesheet" href="../static/styles/nav-mobile.css">
    
</head>
<body>
    <nav>
            <a href="feed"><div>Feed</div></a>
            <a href="upload"><div>Post</div></a>
            <a href="myups"><div>My memes</div></a>
    </nav>

    <main>
        <div class="post">
            <div class="avatar">
                <img src="../static/images/ava.jpg" alt="avatar">
            </div>
            <div class="datapost">
                <div>Viktor Korneplod</div>
                <div>14.11.2022</div>
            </div>
            <div class="content">
                <div>А почему вы укрываетесь одеялом?</div>
                <div><img src="../static/images/meme.jpg" alt="meme"></div>
            </div>
            <div class="reaction">
                <div><img src="../static/svg/like_84048.svg" alt=""></div>
            </div>
        </div>
    </main>
</body>
</html>