<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка поста</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index-mobile.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav-mobile.css')}}">
</head>
<body>
    {% include "nav.html" %}
    {% block content %}
    <main>
        {% for post in posts %}
        <div class="post">
            <div class="avatar">
                <img src="{{ url_for('static', filename=post['avatar']) }}" alt="avatar">
            </div>
            <div class="datapost">
                <div>{{ post['author_name'] }}</div>
                <div>{{ post['date'] }}</div>
            </div>
            {% if session['admin'] > 0 or session['id'] == post['author_id'] %}
            {% include "trash.html" %}
            {% endif %}
            <div class="content">
                <div>{{ post['comment'] }}</div>
                <div><img src="{{ url_for('static', filename=post['image']) }}" alt="meme"></div>
            </div>
            <div class="reaction">
                <div>
                    <div></div>
                    <div>1</div>
                </div>
                <div>
                    <div></div>
                    <div>95</div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pages">
            {% for i in range(1, pages + 1) %}
            <a href="?page={{i}}"><div>{{ i }}</div></a>
            {% endfor %}
        </div>
    </main>
    {% endblock %}
</body>
</html>