@media (max-width: 640px) {
    main {
        margin: 0 15px;
        grid-template-columns: repeat(6, 1fr);
    }

    main > div:first-child {
        margin: 0 15px;
        grid-column: 1/7;
        grid-template-columns: repeat(6, 1fr);
    }

    main > div:last-child {
        grid-column: 1/7;
    }

    .user_avatar {
        grid-column: 1/2;
        margin-top: 5px;
    }

    .name {
        grid-column: 3/7;
    }

    .exit {
        grid-column: 5/7;
    }

    .user_avatar > img {
        width: 50px;
        height: 50px;
    }

    form {
        grid-column: 1/7;
        margin: 15px;
    }
}