@media (max-width: 640px) {
    main {
        margin: 0 15px;
        grid-template-columns: repeat(6, 1fr);
    }

    main > div:nth-of-type(2) {
        margin: 15px;
        grid-column: 1/6;
        grid-template-columns: repeat(6, 1fr);
    }

    main > div:last-child {
        grid-column: 1/7;
    }

    .user_avatar {
        grid-column: 1/2;
        margin-top: 5px;
    }

    .name {
        grid-column: 2/7;
        grid-template-columns: repeat(6, 1fr);
    }

    .name > div:first-child {
        grid-column: 1/7;
        font-size: 13pt;
    }

    .name > div:last-child {
        grid-column: 1/6;
        width: 60px;
        height: 20px;
        font-size: 10pt;
    }

    .exit {
        grid-column: 6/7;
        margin: 15px;
    }

    .user_avatar > img {
        width: 50px;
        height: 50px;
    }

    #adminpanel {
        grid-column: 1/7;
        margin: 15px;
    }
}