body {
    padding: 0;
    margin: 0;
    background-color: #d4d4d4;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

main {
    margin: 0 30px;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    max-width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

main > div {
    grid-column: 2/11;
    background-color: #fff;
    margin: 50px auto 0;
    border: 5px solid #145689;
    border-radius: 5%;
    padding: 10px 25px;
}

form {
    text-align: center;
}

form a {
    text-decoration: none;
    color: #8FC2E9;
}

main > div > h3 {
    text-align: center;
}

main table td {
    padding: 10px;
}

input[type="submit"] {
    text-align: center;
}