body {
    padding: 0;
    margin: 0;
    background-color: #d4d4d4;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

main {
    margin: 0 30px;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    background-color: #fff;
    max-width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.post {
    grid-column: 1/13;
    max-width: 100%;
    width: 40%;
    max-height: 100%;
    background-color: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    margin: 30px auto;
    font-size: 14pt;
    -webkit-box-shadow: -1px 0px 10px 12px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 0px 10px 12px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 0px 10px 12px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
}

.avatar {
    grid-column: 1/2;
    padding: 5px;
}

.avatar > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.datapost {
    grid-column: 2/11;
}

.datapost > div {
    margin-top: 5px;
}

.datapost > div:first-child {
    font-size: 15pt;
    font-weight: 500;
}

.datapost > div:last-child {
    font-size: 11pt;
    color: #a7a1a1;
}

.delete {
    grid-column: 12/13;
    color:#a7a1a1;
    height: 15px;
    vertical-align: center;
    cursor:pointer;
}

.delete > div {
    background-image: url("../svg/trash.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 3px 3px;
}

.content {
    grid-column: 1/13;
}

.content > div {
    margin-top: 10px;
}

.content > div:last-child > img {
    width: 100%;
    height: 250px;
}

.reaction {
    grid-column: 1/13;
    width: 100px;
    display: flex;
}

.reaction > div:first-child > div:first-child {
    background-image: url("../svg/like.svg");
    background-size: 50px 50px;
    background-position: 38px 38px;
}

.reaction > div:last-child > div:first-child {
    background-image: url("../svg/like.svg");
    transform: rotate(180deg);
    background-size: 50px 50px;
    background-position: 38px 38px;
}


.reaction > div div, .delete > div {
    width: 25px;
    height: 25px;
}

.reaction > div {
    display: flex;
    padding: 5px;
}

.reaction > div:first-child > div:last-child, .reaction > div:last-child > div:last-child {
    padding-left: 10px;
    margin-top: 4px;
    font-weight: 600;
}

.reaction > div:last-child > div:last-child {
    margin-top: -2px;
}

.reaction > div:last-child {
    margin-top: 7px;
}