nav {
    max-width: 100%;
    height: 60px;
    background-color: #3F92D2;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

nav a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}

nav > a:first-child {
    grid-column: 3/5;
}

nav > a:nth-child(2) {
    grid-column: 5/8;
}

nav > a:nth-child(3) {
    grid-column: 8/10;
}

nav > a:last-child {
    margin: 5px;
    grid-column: 12/13;
}

nav > a:last-child > div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}