@import url("font.css");

body {
    padding: 0;
    margin: 0;
    background-color: #d4d4d4;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

main {
    margin: 0 30px;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    background-color: #fff;
    max-width: 100%;
    height: 100%;
    padding-bottom: 30px;
}
    

main > h1:first-of-type {
    grid-column: 5/8;
    text-align: center;
}

main > form {
    grid-column: 1/13;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

form > div {
    grid-column: 3/5;
    text-align: center;
}

form > textarea {
    resize: none;
}

form > textarea, input:not(:last-of-type) {
    grid-column: 6/11;
}

form > input:last-of-type {
    grid-column: 5/8;
}

form > div:nth-of-type(2), form > input {
    margin-top: 30px;
}
